<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mp.Properties.Settings.cc_si_inventarios" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=si_inventarios"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>